body {
    padding: 0;
    background: linear-gradient(to bottom,#000,#54f);
    font-size: 16px;
    font-family: sans-serif;
}

h1 {
    font-size: 2.4em;
    color: #fff;
    text-align:center;
    font-weight: 600;
    padding: 7px 0 20px 0;
    border: none;
    border-bottom: 2px solid #666;    
}

.png_introduccion {
    width: auto;
    margin: 15px;
    padding: 17;
    overflow: auto;
    border: 1px solid #f5f;
    border-radius: 13px;
    box-shadow: 0 0 35px #74f;
    color: #ccc;

}

.png_introduccion img {
    float: right;
    height: 80%;
    width: 90%;
    max-width: 330px;
    max-height: 400px;
    margin: 10px;
    margin-left: 10px;

}

.png_introduccion p {
    width: 80%;
    margin: 10px 20px;
    text-align: left;
}

.png_introduccion h2 {
    font-size: 1.6rem;
    padding: 10px;
    border-bottom: 1px solid #f5f;
}

.png_introduccion li {
    padding: 7px;
} 
.png_introduccion h3 {
    padding: 10px;
    letter-spacing: 2px;
}

.p_lastround {
    padding: 5px 15px 5px 3px;
}

.mas_contenido {
    color: #fff;
    pading: 15px;
    width: 70%;
    margin: auto;
    margin-left: 100px;

}

fieldset {
    border-radius: 5px;
    border: none;
    border: 2px solid #3f5;
    box-shadow: 4px 6px 20px #f5f;
}

.mas_contenido legend {
    padding: 5px 15px;
    margin: 10px;
}
